/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

body{
    font-family: "Lato", sans-serif;
}



/* DEBUG */

.bg-black{
    background-color: black;
}

.bg-red{
    background-color: red;
}

.bg-goldenrod{
    background-color: goldenrod;
}



/* UTILITIES */

.bg-lightgrey{
    background-color: lightgrey;
}

.bg-beige{
    background-color: beige;
}

.bg-cyan{
    background-color: rgb(166, 215, 249);
}

.chat,
.card-body{
    flex-grow: 1;
}

.chat{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-body{
    overflow: hidden;
}

.font-lightgrey{
    color: rgb(177, 177, 177);
}

/* LAYOUT */

#app{
    display:flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(78, 147, 137) 0px, rgb(78, 147, 137) 200px, rgb(219, 219, 212) 200px, rgb(219, 219, 212) 100%);
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
}

.sidebar{
    display: none;
    background-color: white;
    flex-shrink: 0;
}

.card{
    display: flex;
    flex-direction: column;
    height: 100%
}

.card-header{
    padding: 10px;
    height: 90px;
}

/* SIDEBAR */

.sidebar-profile-img,
.profile-img-chat{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
}

.sidebar-notice{
    display: none;
    padding: 5px;
}

.sidebar-notice-bell{
    width: 60px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
}

.sidebar-search-bar{
    display: none;
}

.bar{
    height: 30px;
}

.sidebar-profiles-list{
    border: 1px solid lightgray;
    flex-grow: 1;
}

.sidebar-profiles-list > li{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.sidebar-profiles-list li > span{
    display: none;
}

.sidebar-profile-img{
    margin: auto;
}

.sidebar-profile-status{
    display: none;
}

.profile-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}



/* MEDIA QUERY */


    /* TABLET */

@media (min-width: 540px){

    .sidebar{
        display: block;
        width: 100px;
    }

    .sidebar-tools-list{
        display: none
    }
}



    /* DESKTOP */

@media (min-width: 992px){
    
    .container{
        width: 80%;
        height: 90%;
    }

    .sidebar{
        width: 370px;
    }

    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar-tools-list{
        display: flex;
        gap: 20px;
        padding: 10px;
        color: rgb(177, 177, 177);
    }

    .sidebar-notice{
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .sidebar-notice-bell{
        display: flex;
        color: rgb(166, 215, 249);
    }

    .sidebar-bell{
        align-self: center;
        margin: auto;
        font-size: xx-large;
    }

    .sidebar-notice figcaption{
        padding: 0 5px;
    }

    .sidebar-notice figcaption a{
        text-decoration: underline;
    }

    .sidebar-search-bar{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .sidebar-profiles-list{
        overflow: auto;
    }

    .sidebar-profiles-list > li{
        display: flex;
        justify-content: space-between;
    }

    .sidebar-profiles-list li > span{
        display: block;
    }
    
    .sidebar-profile{
        display: flex;
    }

    .sidebar-profile-status{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .card-body{
        overflow: auto;
    }
}
